*{
  margin: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:  hsl(219, 4%, 4%);
  color:#d5dfe6;
  font-weight: 700;
 
  font-family:  Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}